body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.wid-25{
    width:25%;
}
.wid-50{
    width:50%;
}

.wid-75{
    width:75%;
   
}
.common-btn{
    border: 1px solid #ddd;
    height: 40px;
    min-width:40px ;
    background-color: #fff;
    text-align: center;
   color: #D19C97;
   border-radius: 0;
   margin-left: 10px;
   margin-top: 10px;
   border-radius: 5px;
}

.common-btn span {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
   
    
}
.common-btn span i {
    padding-right: 10px;
    
}

.next-row{
    clear: both;
}